/* Possible color schemes 

https://coolors.co/454851-73956f-7bae7f-95d7ae-fceff9
https://coolors.co/454851-4ecdc4-f7fff7-ff6b6b-fceff9
https://coolors.co/454851-69fff1-63d471-63a46c-fceff9
https://coolors.co/454851-a08ba2-63d471-63a46c-fceff9

*/


html,
body {
    height: 100%;
    /*font-family: 'Lexend Zetta', sans-serif;*/
    /*font-family: 'Special Elite', cursive;*/
    /*font-family: 'Prata', serif;*/
    font-family: 'Spinnaker', sans-serif;
    /*font-family: 'Fredericka the Great', cursive;*/
    outline: #f00;
    color: #333;
}

/* Begin Bootstrap modifications */

.navbar-nav > li {
  margin: 0 3rem;
}



.navbar-custom {
  color: #ffffff;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: #ffffff;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: #ffffff;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link,
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #ffffff;
}



.navbar-light .navbar-brand {
  color: #FFFFFF;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #FFFFFF;
}

.navbar-light .navbar-nav .nav-link {
  color: #FFFFFF;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #ddd !important;
}

.navbar-custom {
  box-shadow: none !important;
}

/* End Bootstrap modifications */



/* Begin nav_menu css */

#metalandmosslogo {
  /* width: 145px; */
  /* height: 30px; */
  width: 25px;
  height: 25px;
  margin: 0 0 6px 0;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>a:after {
    content: "\f0da";
    float: right;
    border: none;
    font-family: 'FontAwesome';
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0px;
    margin-left: 0px;
}

@media (min-width: 991px) {
    .dropdown-menu {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
}

/* End nav_menu css */



.hero-image {
    background-image: linear-gradient(#0007, #0007), url("/img/bed-flower.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
  text-align: center;
  position: relative;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -35%);
  color: white;
  width: 20rem;
  font-size: 1.2rem;
}

.hero-text svg {
  width: 60px;
}

.product1 {
    width: 600px;
    border: 0.75rem solid #fff;
    position: relative;
    top: -1.9rem;
    right: -45%;
    z-index: 3;
    shape-outside: margin-box;
}

.product2 {
    width: 400px;
    border: 0.75rem solid #fff;
    position: relative;
    top: -7rem;
    right: -40%;
    z-index: 2;
    shape-outside: margin-box;
}

.product3 {
    width: 400px;
    border: 0.75rem solid #fff;
    position: relative;
    top: -11.3rem;
    right: -35%;
    z-index: 1;
    shape-outside: margin-box;
}



/* .intro-text,
.news,
.map {
    position: relative;
    top: -5.6rem;
} */

h1 {
  font-size: 1.75rem;
}

.side-callout {
    float: right;
    font-size: 6rem;
    position: relative;
    top: 25rem;
    right: -47rem;
    width: 100%;
    display: block;
}

.rotate {

  transform: rotate(90deg);


  /* Legacy vendor prefixes that you probably don't need... */

  /* Safari */
  -webkit-transform: rotate(90deg);

  /* Firefox */
  -moz-transform: rotate(90deg);

  /* IE */
  -ms-transform: rotate(90deg);

  /* Opera */
  -o-transform: rotate(90deg);

  /* Internet Explorer */
  /* Can have values 1-4, 3 = -90deg above */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);

}

:root {
  --gutter: 20px;
}



/* Begin Products Section */

.products {
  overflow-x: hidden;
  white-space: nowrap;
  /* background: #74b3ce; */
  background: #a08ba2;
  /* background: linear-gradient(0deg, #74b3ceff 0%, #74b3ceff 15%, #30c5ffff 100%); */
  background: linear-gradient(0deg, #a08ba2ff 0%, #a08ba2ff 15%, #8b728eff 100%);
  padding: 3rem 0;
}

.products .item {
  max-height: 25vh;
  display: inline-block;
  text-align: center;
  padding: 0 0.25rem;
}

.products .item:first-child {
  padding-left: 3rem;
}

.products .item:last-child {
  padding-right: 3rem;
}

/* End Products Section */

#about_section {
  background-image: linear-gradient(#0007, #0007), url("/img/ivy-bench.jpg");
  /* height: 50%; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #fff;
}

#about {
  /* background: #63a46c; */
  /* background: linear-gradient(0deg, #63a46cff 0%, #63a46cff 15%, #63d471ff 100%); */
  /* background: #74b3ce; */
  /* background: linear-gradient(0deg, #74b3ceff 0%, #74b3ceff 15%, #30c5ffff 100%); */
  /* color: #FCEFF9; */
  padding-bottom: 3rem;

  
}

.building-container {
  position: relative;
}

.building {
  border-radius: 50%;
  max-width: 300px;
  max-height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-wave svg {
  /* background: #74b3ce; */
  /* background: #63d471; */
  width: 100%;
}

.container-wave.inverse svg {
  transform: rotate(180deg);
  /* background: #fff; */
}

#contact {
  /* background: #74b3ce; */
  /* background: linear-gradient(0deg, #30c5ffff 0%, #30c5ffff 15%, #74b3ceff 100%); */
  background: #63a46c;
  background: linear-gradient(0deg, #63a46cff 0%, #63a46cff 15%, #63d471ff 100%);
  color: #FCEFF9;
  padding: 3rem;
}

.address-container {
  position: relative;
}

.address {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FCEFF9;
  width: 20rem;
  font-size: 1.2rem;
  padding: 2rem 3rem;
  /* border: 1px solid #FCEFF9; */
  /* border-radius: 15px; */
}

/* .icons {
  position: relative;
}

.icon {
  font-size: 5rem;
  position: relative;
  display: inline-block;
}

.icon.cut {
  top: -10rem;
  left: -12vw;
}

.icon.cut i {
  transform: rotate(62deg);
}

.icon.brush {
  top: 3rem;
  left: 12rem;
}

.icon.brush i {
  transform: rotate(10deg);
}

.icon.hammer {
  bottom: -12rem;
  left: -30vw;
}

.icon.hammer i {
  transform: rotate(320deg);
}

.icon.pen {
  right: -5vw;
}

.icon.hammer i {
  transform: rotate(320deg);
} */


footer {
  background: #454851;
  color: #FCEFF9;
  padding: 3rem;
}
