html,
body {
    height: 100%;
    /*font-family: 'Lexend Zetta', sans-serif;*/
    /*font-family: 'Special Elite', cursive;*/
    /*font-family: 'Prata', serif;*/
    font-family: 'Spinnaker', sans-serif;
    /*font-family: 'Fredericka the Great', cursive;*/
}

/* Begin Bootstrap modifications */

.navbar-nav > li {
  margin: 0 3rem;
}

/* End Bootstrap modifications */



/* Begin nav_menu css */

#metalandmosslogo {
  width: 145px;
  height: 30px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>a:after {
    content: "\f0da";
    float: right;
    border: none;
    font-family: 'FontAwesome';
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0px;
    margin-left: 0px;
}

@media (min-width: 991px) {
    .dropdown-menu {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
}

/* End nav_menu css */



.hero-image {
    background-image: linear-gradient(#0007, #0007), url("/img/toa-heftiba.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
  text-align: center;
  position: relative;
  top: 50%;
  left: 30%;
  transform: translate(-75%, -50%);
  color: white;
  width: 20rem;
}

.hero-text h1 svg {
  width: 20rem;
}

.product1 {
    width: 600px;
    border: 0.75rem solid #fff;
    position: relative;
    top: -1.9rem;
    right: -45%;
    z-index: 3;
    shape-outside: margin-box;
}

.product2 {
    width: 400px;
    border: 0.75rem solid #fff;
    position: relative;
    top: -7rem;
    right: -40%;
    z-index: 2;
    shape-outside: margin-box;
}

.product3 {
    width: 400px;
    border: 0.75rem solid #fff;
    position: relative;
    top: -11.3rem;
    right: -35%;
    z-index: 1;
    shape-outside: margin-box;
}



.intro-text {
    position: relative;
    top: -5.6rem;
}

.side-callout {
    float: right;
    font-size: 6rem;
    position: relative;
    top: 24rem;
    right: -50rem;
    width: 100%;
}

.rotate {

  transform: rotate(90deg);


  /* Legacy vendor prefixes that you probably don't need... */

  /* Safari */
  -webkit-transform: rotate(90deg);

  /* Firefox */
  -moz-transform: rotate(90deg);

  /* IE */
  -ms-transform: rotate(90deg);

  /* Opera */
  -o-transform: rotate(90deg);

  /* Internet Explorer */
  /* Can have values 1-4, 3 = -90deg above */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);

}

:root {
  --gutter: 20px;
}



/* Begin Products Section */

.products {
  overflow: auto;
  white-space: nowrap;
}

.products .item {
  max-height: 25vh;
  display: inline-block;
  text-align: center;
  /* padding: 0 0.25rem; */
}

/* End Products Section */



footer {
  background: #333;
  color: #fff;
  padding: 3rem;
}
